{
    "plugins": ["prettier-plugin-blade"],
    "overrides": [
        {
            "files": [
                "*.blade.php",
                "\"resources/js/**/*.{js,jsx,ts,tsx,vue}\","
            ],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
