.goverlay {
    width: 100%;
    height: calc(100vh + 1px);
    position: fixed;
    top: -1px;
    left: 0;
    background: rgba(173, 92, 92, 0.9);
    will-change: opacity;
}
.gslide-media {
    box-shadow: none !important;
}
